<div class="center"><asl-google-signin-button *ngIf="!user" >
</asl-google-signin-button>
</div>
<div *ngIf="user">
  <img src="{{user.photoUrl}}" >
  <div>
    <h4>{{user.name}}</h4>
    <p>{{user.email}}</p>
    <input class="form-control"[class.is-invalid]="ip.invalid && ip.touched" [(ngModel)] = 'data' #ip="ngModel" type="text" name="ip" id="" placeholder="enter ip address" required pattern="(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)"><br>
    <small class="text-danger" [class.d-none]="ip.valid || ip.untouched">enter valid ip address</small><br>
    <!-- <div *ngIf="ip.errors && (ip.invalid || ip.touched)">
      <small class="text-danger" *ngIf="ip.errors['required']">please enter ip address</small>
      <small class="text-danger" *ngIf="ip.errors['pattern']">IP is not valid</small>
      <br> -->
    <button (click)="showDetails(data)">check ip details</button>

  </div>
  <table *ngIf="setTable" [(ngModel)] = "ipDetails">
    <tr>
      <td>ip</td>
      <td>{{ipDetails.ip}}</td>
    </tr>
    <tr>
      <td>city</td>
      <td>{{ipDetails.city}}</td>
    </tr>
    <tr>
      <td>region</td>
      <td>{{ipDetails.region}}</td>
    </tr>
    <tr>
      <td>country</td>
      <td>{{ipDetails.country}}</td>
    </tr>
    <tr>
      <td>loc</td>
      <td>{{ipDetails.loc}}</td>
    </tr>
    <tr>
      <td>postal</td>
      <td>{{ipDetails.postal}}</td>
    </tr>
    <tr>
      <td>timezone</td>
      <td>{{ipDetails.timezone}}</td>
    </tr>
  </table>
  
</div>
