<button (click)="addForm()">Add</button>
<table>
  <tr>
    <th>
      id
    </th>
    <th>name</th>
    <th>
      email
    </th>
    <th>
      Action
    </th>
  </tr>


  <tr *ngFor="let user of usersData">

    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <ng-container *ngIf="user.id">
      <td (click)="editUser(user.id)"><button>Edit</button></td>
      <td><button (click)="deleteUser(user.id)">Delete</button></td>
    </ng-container>

  </tr>



</table>

<a routerLink="/op"></a>
