<section>

  <nav>
    <h1>About Us</h1>
  </nav>
  <div class="queries">
    <div class="card">
      <div class="about">
        <h1>Who We Are</h1>
        <br>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolores doloremque quibusdam itaque
          consequatur illo culpa accusantium numquam repudiandae maiores, dolorem autem provident minima! Iure aut
          deserunt quo optio fuga voluptates, ipsum sit quidem nostrum veritatis rerum accusamus corrupti nihil, laborum
          iste reiciendis harum impedit eaque perferendis ullam cupiditate tempore!</span>
      </div>
      <div class="img">
        <img src="assets/dummy.jpg" alt="">
      </div>
    </div>
  </div>

</section>
